[submodule "platform/src/chr-um6"]
	path = platform/src/chr-um6
	url = git@github.com:TobiasSimon/chr-um6.git
[submodule "rpi-tools"]
	path = rpi-tools
	url = https://github.com/raspberrypi/tools.git
